<div style="background-color: beige; padding: 50px;">
  
    <h2 style=" font-size: 50px; padding: 50px; color: gray">To do Task</h2>
    <form style="background-color: beige;" #taskRef="ngForm" (ngSubmit)= "postToJson(taskRef.value)">
        <mat-form-field>
            <mat-label>Id</mat-label>
            <input matInput type="text"  name="id"  ngModel>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Name</mat-label >
            <input matInput type="text"   name="name"  ngModel>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Task</mat-label>
            <input matInput type="textarea"  name="task"  ngModel>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Dead Line</mat-label>
            <input matInput type="date"  name="deadLine"  ngModel>
        </mat-form-field>
    <br>
            <button type="submit"  mat-stroked-button color="primary">submit</button>
            <button type="reset"  mat-stroked-button color="secondary">reset</button>
 
    </form>
</div>
<div style="background-color: rgb(250, 244, 244); align-content: center;">
    <table ng-container matColumnDef="position" >
        <tr >
            <td>id</td>
            <td>Name</td>
            <td>Task</td>
            <td>Dead Line</td>

        </tr>
<tr *ngFor="let dt of arrayForTask">
    <td>{{dt.id}}</td>
    <td>{{dt.name}}</td>
    <td>{{dt.task}}</td>
    <td>{{dt.deadLine}}</td>
</tr>

</table>
</div>
<div>
    <button mat-stroked-button color="primary" (click)="getData()">load Tasks</button>
</div>